.footer{
  background: $black;
  color: $white;
  font-size: $font-size-16;
  padding: 70px 30px;
  h2{
    color: $white;
  }
  &-col{
    max-width: 680px;
  }
  p{
    line-height: 28px;
    color: $grey-medium;
    text-align: center;
  }
  &-links {
    padding: 40px 0 35px;
    &-item{
      border-radius: 50%;
      width: 34px;
      height: 34px;
      border: 2px solid;
      margin: 0 5px;
      &-rss{
        color: $rss;
        border-color: $rss;
      }
      &-fb{
        color: $fb;
        border-color: $fb;
      }
      &-tw{
        color: $tw;
        border-color: $tw;
      }
      &-drb{
        color: $drb;
        border-color: $drb;
      }
      &-p{
        color: $p;
        border-color: $p;
      }
    }
  }
  a{
    color: $white;
    &:hover{
      color: inherit;
    }
  }
}