.recent_post {
  padding-bottom: 70px;

  &-item {
    margin-bottom: 32px;
  }

  &-inner {
    @media (min-width: $sm) {
      padding-left: 20px;
    }
  }

  &-info {
    color: $grey;
    font-size: $font-size-12;
    line-height: 20px;
  }

  &-preview {
    font-size: 14px;
    line-height: 26px;
    color: $grey-dark;
    padding-top: 13px;
    @media (max-width: $xs) {
      display: none;
    }
  }

  &-holder{
    @media (max-width: $md) {
      max-width: 555px;
    }
  }
}