@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}


/*-- main --*/
body {
    ffont-family: 'Montserrat', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    background: #000;
    color: #fff;
}

a, a:hover {
    text-decoration: none;
}

p {
    font-size: 25px;
    line-height: 30px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 22px;
}

/*-- end main --*/

/*-- nav--*/
.navbar {
    color: #fff;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 0 26px 0 12px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.navbar-dark .navbar-toggler {
    color: #F38A03;
    border: none;
    font-size: 28px;
    padding: 0;
}

.navbar-dark .navbar-toggler:focus {
    outline: none;
}

.navbar-dark .navbar-brand {
    padding: 0;
    max-height: 100%;
}

.navbar-nav {
    padding: 15px 0;
}
.navbar-nav .btn{
    position: relative;
}
.btn-ru {
    float: left;
}

.btn-ru:after {
    content: '|';
    right: -13px;
    position: absolute;
}
.btn-ru {
    margin-right: 20px;
}
/*-- end nav--*/

/*-- header--*/
.header {
    max-width: 958px;
    position: relative;
    background: url("../img/header.png") center no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-inner {
    padding: 95px 10px 20px;
}

.header:after {
    content: '';
    width: 265px;
    height: 65px;
    position: absolute;
    bottom: -65px;
    background: #ED1260;
    right: 0px;
}

.site-caption {
    background: #000;
    width: 257px;
    height: 110px;
    font-size: 25px;
    margin-bottom: 14px;
}

.btn-black {
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #FFF;
    width: 131px;
    background: #000000;
    padding: 7px;
    border-radius: 0;
}

/*-- end header--*/

/*-- container --*/
.container-custom {
    padding: 103px 15px 68px;
}

p {
    font-size: 16px;
    line-height: 20px;
    padding: 0 52px;
    margin: 0 auto;
}

/*services*/
.services-item {
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 24px;
}

.services-title {
    margin-top: 11px;
    text-align: center;
}

.services-wrap {
    padding: 60px 0;
}

/*end services*/

/*map*/
.map-holder {
    border: 5px solid #ED1260;
}

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 5px auto;
    padding: 10px;
}

iframe {
    width: 100%;
    height: 128px;
}

.map-address {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 5px;
}

/*end map*/
/*-- end container --*/

/*footer*/
footer {
    border: 5px solid #F38A03;
    padding: 26px 0 4px;
}

.footer-item {
    padding-bottom: 22px;
}

.footer-item img {
    max-width: 25px;
    margin-right: 22px;
}

.footer-item a {
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}

.footer-item ul {
    margin: 0;
}

.footer-item:last-child {
    margin-bottom: 0;
}

/*end footer*/

/*-- responsive --*/
@media (min-width: 768px) {
    .header {
        height: 513px;
        margin: 90px auto 0;
    }

    .header:after {
        bottom: auto;
        top: 0;
        right: -100px;
        width: 107px;
        height: 347px;
    }

    .map-holder {
        margin-bottom: 90px;
        width: 525px;
        margin: 0 auto;
    }

    .map {
        margin: 10px auto;
    }

    .map-address {
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
    }

    h3 {
        text-align: left;
        margin-bottom: 80px;
        font-size: 45px;
        line-height: 55px;
    }

    footer {
        border: none;
        padding: 0;
        max-width: 980px;
        margin: 0 auto;
    }

    .footer-inner {
        flex: 1;
    }

    .footer-item img {
        max-width: 45px;
        margin: 0 0 35px;
    }

    .footer-item {
        font-size: 25px;
        line-height: 30px;
    }

    iframe {
        height: 212px;
    }

    p {
        font-size: 25px;
        line-height: 30px;
    }

    .container-custom {
        padding: 37px 15px 96px;
        max-width: 980px;
        margin: 0 auto;
    }

    .services-title {
        margin-top: 11px;
        text-align: center;
        max-width: 258px;
        font-size: 18px;
        line-height: 22px;
    }

    .services-wrap {
        padding: 77px 0;
    }
    .services-item {
        padding-bottom: 52px;
    }
    .navbar {
        padding: 0 58px;
    }
    .navbar-nav {
        width: 580px;
    }
    .btn-ru:after {
        right: -4px;
    }
    .btn-ru {
        margin-right: 0px;
    }
}