body {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  color: $primary-color;
  overflow-x: hidden;
}
a{
  @include link-btn;
  font-weight: $font-weight-black;
  font-size: $font-size-13;
  line-height: 22px;
  @include uppercase;
  color: $primary-color;
  &:hover{
    color: inherit;
  }
}