@font-face {
  src: url(#{$font-path}Roboto-Regular.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-normal;
}
@font-face {
  src: url(#{$font-path}Roboto-Black.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-bold;
}
@font-face {
  src: url(#{$font-path}Roboto-Bold.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-bold;
}
@font-face {
  src: url(#{$font-path}Roboto-Light.ttf) format("truetype");
  font-family: $font-family;
  font-weight: $font-weight-light;
}
