//color
$primary-color: #4E4E4E;
$active-color: #57A4A4;
$light: #F7F7F7;
$white: #fff;
$grey: #7C7C7C;
$grey-medium: #B9B9B9;
$grey-dark: #5C5C5C;
$black: #000;
$transparent: transparent;
$rss: #F8902E;
$fb: #39599F;
$tw: #45B0E3;
$drb: #D97AB0;
$p: #CC212C;
$nav-hover: #F5F5F5;


$border-radius: 50px;

//font
$font-family: 'Roboto', sans-serif;
$font-path: "../fonts/Roboto/";

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-size-16: 16px;
$font-size-13: 13px;
$font-size-12: 12px;
$font-size-11: 11px;

$font-style: italic;

//media
$xs: 767px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
