.btn {
  border-radius: $border-radius;
  color: $white;
  font-weight: $font-weight-black;
  border-color: $transparent;
  cursor: pointer;

  &-primary {
    background: $primary-color;

    &:hover {
      background: $white;
      color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}