.navbar {
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  @include uppercase;

  &-nav {
    flex: 0 0 500px;
  }

  @media (max-width: $xs) {
    &-collapse {
      position: absolute;
      top: 60px;
      width: 180px;
    }
  }

  &-toggler {
    outline: none;
    background: url("../img/menu-button-open.png") no-repeat $black;
    text-align: center;
    max-width: 44px;
    &:not(.collapsed) {
      background: url("../img/menu-button.png") no-repeat;
      border: none;
    }
    &:active, &:focus{
      outline: none;
    }
  }
}

.navbar-nav {
  @media (max-width: $xs) {
    background: $white;
  }

  .nav-link {
    color: $primary-color;
    line-height: 22px;
    font-weight: $font-weight-normal;

    &.active {
      color: $active-color !important;
    }

    &:hover {
      color: $active-color;
      @media (max-width: $xs) {
        background: $nav-hover;
      }
    }

    @media (max-width: $xs) {
      border-bottom: 1px solid $nav-hover;
      padding: 10px 13px;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}