//captions
h2 {
  font-size: $font-size-16;
  @include uppercase;
  font-weight: $font-weight-black;
  color: $primary-color;
  line-height: 22px;
  margin-bottom: 24px;
  padding: 0 15px;
  &:before{
    content: '-';
    padding-right: 5px;
  }
}

h3 {
  font-size: $font-size-16;
  font-weight: $font-weight-black;
  color: $primary-color;
  line-height: 30px;
}